/target/
target/m2e-wtp/web-resources/META-INF/maven/com.wechat.ethan/wechat_ethan/pom.properties
target/classes/jdbc.properties
target/classes/jdbc.properties
src/main/resources/jdbc.properties
*.properties
target/classes/jdbc.properties
src/main/resources/jdbc.properties
target/classes/jdbc.properties
