<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechat.dao.IAppointmentDao" >
  <resultMap id="BaseResultMap" type="com.wechat.model.Appointment" >
  <!--   <id column="id" property="id" jdbcType="INTEGER" />
    <result column="taocan" property="taocan" jdbcType="VARCHAR" />
    <result column="username" property="userName" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="fromDes" property="fromDes" jdbcType="VARCHAR" />
    <result column="toDes" property="toDes" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="submitTime" property="submitTime" jdbcType="VARCHAR" /> -->
    <id column="id" property="id"/>
    <result column="state" property="state"/>
    <result column="taocan" property="taocan"/>
    <result column="appointTime" property="appointTime"/>
    
    <result column="fromMapName" property="fromMapName"/>
    <result column="fromMapAddress" property="fromMapAddress"/>
    <result column="fromDes" property="fromDes"/>
    <result column="fromFloor" property="fromFloor"/>
    
    <result column="toMapName" property="toMapName"/>
    <result column="toMapAddress" property="toMapAddress"/>
    <result column="toDes" property="toDes"/>
    <result column="toFloor" property="toFloor"/>
    
    <result column="userName" property="userName"/>
    <result column="telephone" property="telephone"/>
    <result column="note" property="note"/>
    <result column="submitTime" property="submitTime"/>
  </resultMap>
  
  <insert id="insert" parameterType="com.wechat.model.Appointment" >
     insert into youai_appointment (state,taocan,appointTime,fromMapName,fromMapAddress,fromDes,fromFloor,toMapName,toMapAddress,toDes,toFloor,userName,telephone,note,submitTime) values (#{state}, #{taocan}, #{appointTime}, #{fromMapName},#{fromMapAddress},#{fromDes},#{fromFloor},#{toMapName},#{toMapAddress},#{toDes},#{toFloor},#{userName},#{telephone},#{note},#{submitTime})
  </insert>
  
  <update id="update" parameterType="com.wechat.model.Appointment" >
     UPDATE youai_appointment SET state = #{state},taocan = #{taocan},appointTime = #{appointTime},fromMapName = #{fromMapName},fromMapAddress = #{fromMapAddress},fromDes = #{fromDes},fromFloor = #{fromFloor},toMapName = #{toMapName},toMapAddress = #{toMapAddress},toDes = #{toDes},toFloor = #{toFloor},userName = #{userName},telephone = #{telephone},note = #{note} WHERE id = #{id}
  </update>
  
  <select id="findByPagination" resultMap="BaseResultMap">
		SELECT * FROM youai_appointment LIMIT #{0},#{1}
  </select>
  
  <select id="findAll" resultMap="BaseResultMap">
		SELECT * FROM youai_appointment
  </select>
</mapper>