<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechat.dao.ITreeDao" >
  <resultMap id="BaseResultMap" type="com.wechat.model.Tree">
		<id property="id" column="id"/>
		<result property="parent_id"  column="parent_id"/>
		<result property="name" column="name"  />
		<result property="type" column="type"  />
		<result property="checked" column="checked"/>
		<result property="url" column="url" />
		<result property="icon" column="icon" />
		<result property="other"  column="other"/>
	</resultMap>

	<select id="getChildrenByPid" parameterType="String" resultMap="BaseResultMap">
		SELECT * FROM youai_tree WHERE parent_id = #{value}
	</select>
	
  	<select id="getRoot" parameterType="String" resultMap="BaseResultMap">
		SELECT * FROM youai_tree WHERE parent_id = 0
	</select>
</mapper>